*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
html{
    
    width: 100%;
}
body{
    height: 120vh;
    background-color: #DBC2A6;
    cursor:pointer;
    
}

/*Navbar*/
.navbar{
    background: transparent;
    color: #414A37;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    display: flex;
    transition: 0.5s ease-in-out;
}
.navbar.scrolled{
    background-color: #414A37;
    color: white;
    z-index: 1;
}
.navigation a{
    text-decoration: none;
    color: #414A37;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
    transition: 0.5s ease-in-out;
}
.navbar.scrolled .navigation a{
    color: white;
    z-index: 1;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #414A37;
    z-index: -1;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}
.navbar.scrolled .navigation a::after{
    background-color: white;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a:active{
    text-decoration : underline;
}

/* MENU */
.burger{
  display: none;
  width: 20px;
  height: 3px;
  background-color: #414A37;
  margin: 6px;
}
#burger1{
    transform: translate(0,11px),rotate(-45deg);
}

.line{
    position: fixed;
    height: 1px;
    width: 100%;
    background-color: #414A37;
}

/*Company Logo*/
.logo{
    font-size: 2rem;
}

/*Main Container*/
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px;
    background-color: #414A37;
    transition: 0.5s ease-out;
    margin: 30px 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px;
}
.container.scrolled{
    background-color:  #DBC2A6;
    box-shadow: none;
    border-radius: 0;
}

/*Text Side*/
h1{
    padding-bottom: 10px;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    color: #DBC2A6;
    font-size: 1.5rem;
    word-spacing: 2px;
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.container.scrolled .right{
    color: rgb(65, 74, 55);
}
.right a{
    text-decoration: none;
    color: #414A37;
    background-color: #DBC2A6;
    padding: 12px 24px; 
    margin: 10px;
    border-radius: 20px;
    transition: 0.3s ease-out;
    font-size: 1.3rem;
    font-weight: 500;
}
.right a:hover{
    text-decoration: underline;
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px black;
}
.container.scrolled .right a{
    color: #DBC2A6;
    background-color: #414A37;
}

/*Image Side*/
.left{
    border-radius: 20px;
    background-image: url(headphones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    width: 200px;
    flex-grow: 1;
}
.menu-heaing{
    display: none;
}

/*Responsive*/
@media (max-width:426px){
    body{
        min-height: 100vh;
        max-width: 100%;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .navbar{
        padding:0;  
    }
    .container{
        margin: 30px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        border-radius: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .left{
        height: 250px;
        width: 150px;
    }
    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .right{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        width: 100%;
        font-size: 1rem;
    }
    .right a{
        padding: 6px 12px;
    }
    .menu-heading{
        display: block;
        color: white;
        letter-spacing: 2.5px;
        font-size: 1.5rem;
    }
    #links-container{
        display: none;
    }
    #links-container.menu{
        gap: 20px;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #414A37;
        z-index: 1001;
        padding: 40px 20px;
        transform: translateX(0);  /* Slide in */
        transition: transform 0.5s ease;
    }
    .links-container {
        transform: translateX(100%);  /* Hidden off-screen */
        transition: transform 0.3s ease;
    }
    #links-container.menu::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(65, 74, 55, 0.2);
        z-index: -1;
    }
    #links-container a{
        color: white;
        margin: 0;
    }
    #hamburger{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        z-index: 2000;
    }
    #hamburger.scrolled .burger{
        background-color: white
    }
    .navigation.scrolled .burger{
        background-color: white;
        display: block;
        margin: 2px;
    }
    #hamburger.clicked .burger{
        background-color: white;
    }
    .burger{
        margin: 2px;
        display: block;
    }
}
@media (max-width:768px){
    .navbar{
        padding: 20px 20px;
    }
}